.center-content {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: auto;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  font-size: 3rem;
}

.name {
  color: red;
}

.balloonButton {
  font-size: 3rem;
}

.balloon {
  position: absolute;
  width: 20rem;
}